.foto-grid {
  background-color:#000000;
  padding-top: 47px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-auto-rows: minmax(213px, auto);
  gap: 17px;
  max-width: 880px;
  margin: 0 auto;
}
/* @media (max-width: 768px) {
  .foto-grid {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 425px) {
  .foto-grid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
 */