.root {
  min-width: 320px;
  max-width: 1280px;
  padding-left: 200px;
  padding-right: 200px;
  margin: 0 auto;
  background-color: #000000;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media (max-width: 1180px) {
  .root {
    padding-left: 170px;
    padding-right: 170px;
  }
}
@media (max-width: 1080px) {
  .root {
    padding-left: 130px;
    padding-right: 130px;
  }
}
@media (max-width: 880px) {
  .root {
    padding-left: 70px;
    padding-right: 70px;
  }
}
@media (max-width: 768px) {
  .root {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 420px) {
  .root {
    padding: 0;
  }
}
.opacity:hover {
  opacity: 0.6;
  transition-duration: 0.5s;
  cursor: pointer;
}
.content {
  background-color: #000000;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 420px) {
  .content {
    padding-left: 19px;
    padding-right: 19px;
  }
}

/* КНОПКИ */

.lead {
  display: flex;
  flex-direction: row;
  background-color: #000000;
  padding-top: 36px;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1080px) {
  .lead {
    flex-direction: column;
  }
}

.lead__button {
  display: flex;
  width: 150px;
  height: 50px;
  outline: solid white 1px;
  background-color: #000000;
  background-image: url('https://i.postimg.cc/T2NyLjS2/Add-Button.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  border: black solid 15px;
}

@media (max-width: 1080px) {
  .lead__button {
    width: 282px;
  }
}
.lead__image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  margin: 0;
  border-radius: 50%;
}
.lead__pencil {
  /* display: block; */
  width: 24px;
  height: 24px;
  outline: white solid 1px;
  border: black solid 5px;
  background-color: black;
  margin-left: 18px;
  margin-bottom: 8px;
  box-sizing: border-box;
  background-image: url(https://i.postimg.cc/MppjrWL5/Pencil.jpg);
  background-size: cover;
  background-position: center;
}

@media (max-width: 786px) {
  .lead__pencil {
    margin-left: 10px;
    width: 18px;
    height: 18px;
  }
}
.lead__subtitle {
  margin-top: 16px;
  text-align: flex-start;
  line-height: 22px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  max-width: 282px;
}

@media (max-width: 786px) {
  .lead__subtitle {
    text-align: center;
    padding-right: 30px;
  }
}
@media (max-width: 680px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: 450px) {
  .lead__subtitle {
    font-size: 14px;
    line-height: 17px;
    max-width: 190px;
  }
}
.lead__title {
  margin: 0;
  line-height: 48px;
  font-size: 42px;
  font-weight: 500;
  font-style: normal;
  max-width: 294px;
}

@media (max-width: 786px) {
  .lead__title {
    font-size: 34px;
    line-height: 40px;
    padding-top: 23px;
  }
}
@media (max-width: 450px) {
  .lead__title {
    font-size: 27px;
    line-height: 33px;
    max-width: 190px;
  }
}
.lead__titles {
  display: flex;
  align-items: center;
}

@media (max-width: 1080px) {
  .lead__titles {
    margin-bottom: 36px;
  }
}
@media (max-width: 786px) {
  .lead__titles {
    flex-direction: column;
  }
}
.lead__wrapper-title {
  display: flex;
  align-items: flex-end;
}
.lead__wrapper-titles {
  padding-left: 50px;
}
@media (max-width: 910px) {
  .lead__wrapper-titles {
    padding-left: 45px;
  }
}
@media (max-width: 768px) {
  .lead__wrapper-titles {
    padding-left: 35px;
  }
}
@media (max-width: 680px) {
  .lead__wrapper-titles {
    padding-left: 25px;
  }
}

/* ГРИДЫ */
.foto-grid {
  background-color: #000000;
  padding-top: 47px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  /* grid-template-columns: repeat(auto-fit, 282px); */
  /* grid-template-columns: repeat(3, 280px); */
  grid-auto-rows: minmax(213px, auto);
  gap: 17px;
  max-width: 880px;
  margin: 0 auto;
}
.foto-grid__card {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  border-radius: 10px;
  background-color: #ffffff;
  position: relative;
}
.foto-grid__item {
  width: 100%;
  height: 282px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.foto-grid__item:hover {
  cursor: pointer;
}

@media (max-width: 1243px) {
  .foto-grid__item {
    height: 342px;
  }
}

@media (max-width: 490px) {
  .foto-grid__item {
    height: 282px;
  }
}
.foto-grid__name {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  background-color: #ffffff;
  padding-left: 21px;
  padding-right: 20px;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
}
.foto-grid__name-heart {
  min-width: 22px;
  min-height: 19px;
  background-image: url('https://i.postimg.cc/9QsjJ86L/heart.jpg');
  border: none;
  background-position: center;
  background-size: cover;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}
.foto-grid__name-heart:hover {
  opacity: 0.5;
  transition-duration: 0.5s;
  cursor: pointer;
  border: none;
}
.foto-grid__name-heart_black {
  background-image: url('https://i.postimg.cc/63bs4MfV/heart-black.jpg');
}
.foto-grid__name-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}
@media (max-width: 1243px) {
  .foto-grid__name-title {
    max-width: none;
  }
}
.foto-grid__urn {
  min-width: 16px;
  min-height: 14px;
  position: absolute;
  top: 18px;
  right: 15px;
  background-image: url("https://i.postimg.cc/FHVBJP9f/urn.jpg");
  border: none;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
.foto-grid__urn:hover {
  opacity: 0.5;
  transition-duration: 0.5s;
  cursor: pointer;
  border: none;
}
.popup {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  right: 0;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.4s linear; 
}
.popup__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 430px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  position: relative;
  padding: 34px 0 37px;
}
@media (max-width: 570px) {
  .popup__container {
    width: 360px;
  }
}
@media (max-width: 470px) {
  .popup__container {
    width: 282px;
  }
}
.popup__input-text {
  width: 358px;
  height: 40px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  color: #000000;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
@media (max-width: 570px) {
  .popup__input-text {
    width: 290px;
  }
}
@media (max-width: 470px) {
  .popup__input-text {
    width: 238px;
  }
}
.popup__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.popup__submit-btn:hover {
  opacity: 0.8;
  transition-duration: 0.5s;
  cursor: pointer;
}
@media (max-width: 570px) {
  .popup__submit-btn {
    width: 290px;
  }
}
@media (max-width: 470px) {
  .popup__submit-btn {
    width: 238px;
    font-size: 14px;
    line-height: 16.94px;
  }
}
.popup__title {
  margin: 0 0 48px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  width: 358px;
  text-align: left;
}
@media (max-width: 570px) {
  .popup__title {
    font-size: 20px;
    line-height: 25px;
    width: 290px;
  }
}
@media (max-width: 470px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    width: 238px;
  }
}
.popup_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.4s linear;
}
.popup__close-cross {
  position: absolute;
  top: -11%;
  left: 98%;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  background-image: url('https://i.postimg.cc/c4wSyYp4/Close-Icon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
} 

@media (max-width: 570px) {
  .popup__close-cross {
    top: -11%;
    left: 98%;
  }
}

@media (max-width: 470px) {
  .popup__close-cross {
    top: -13%;
    left: 88%;
  }
}
