.lead__vector{
 width: 24px; 
 height: 24px;
 /* background-image: url(../../../images/Vector@3x.jpg); */
 border: white solid 1px;
 margin-left: 18px;
 margin-bottom: 8px;
 box-sizing: border-box;
}
.lead__vector{
   cursor: pointer;
}
@media (max-width: 786px){
.lead__vector{
 margin-left: 10px; 
 width: 18px; 
 height: 18px; 
}

}