.foto-open__container {
 display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 816px;
  max-height: 540px;
  position: fixed;
}
@media (max-width: 890px) {
  .foto-open__container{
    width: 690px;
  }
}
@media (max-width: 780px) {
  .foto-open__container{
    width: 560px;
    
  }
}
@media (max-width: 660px) {
  .foto-open__container{
    width: 460px;
    
  }
}
@media (max-width: 570px) {
  .foto-open__container{
    width: 360px;
  }
}
@media (max-width: 470px) {
  .foto-open__container {
    width: 282px;
  }
}
 
}
