.popup__close {
  position: relative;
  top: -20%;
  left: 57%;
  width: 32px;
  height: 32px;
}

.popup__close:before,
.popup__close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 40px;
  width: 6px;
  background-color: white;
}
.popup__close:before {
  transform: rotate(-45deg);
}
.popup__close:after {
  transform: rotate(45deg);
}

@media (max-width: 570px) {
  .popup__close:before,
  .popup__close:after {
    height: 33px;
    width: 5px;
  }
}
@media (max-width: 570px) {
  .popup__close {
    top: -16%;
    left: 56%;
  }
}
@media (max-width: 470px) {
  .popup__close:before,
  .popup__close:after {
    height: 26px;
    width: 4px;
  }
}
@media (max-width: 470px) {
  .popup__close {
    top: -20%;
    left: 49%;
  }
}
